<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Matthias Lee</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav-links" aria-controls="nav-links" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="nav-links">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link <%= "active" if params[:controller]=="about_pages" && params[:action]=="index" %>" aria-current="page" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%= "active" if params[:controller]=="blog_posts" %>" href="/blog">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%= "active" if params[:controller]=="talks" %>" href="/talks">Talks</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Contact me
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><%= link_to 'Email', 'mailto:matthias@matthiasclee.com', class: 'dropdown-item' %></li>
            <li><%= link_to 'Phone', 'tel:7253334223', class: 'dropdown-item' %></li>
            <li><hr class="dropdown-divider"></li>
            <li><%= link_to 'Github', 'https://github.com/Matthiasclee', class: 'dropdown-item' %></li>
            <li><%= link_to 'Reddit', 'https://reddit.com/u/matthiaslee11', class: 'dropdown-item' %></li>
            <li><%= link_to 'Twitter', 'https://twitter.com/Matthiasclee', class: 'dropdown-item' %></li>
          </ul>
        </li>
      </ul>
    </div>
    <p class="navbar-text float-right">

    <% if user_signed_in? %>
      Logged in as <strong><%= current_user.email %></strong>.
      <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
    <% else %>
      <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
      <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
    <% end %>
    </p>
  </div>
</nav>
