<p id="notice"><%= notice %></p>

<h1>Blog</h1>

<% @blog_posts.sort_by(&:created_at).reverse.each do |blog_post| %>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><%= link_to blog_post.title, blog_post, style: 'text-decoration:none;color:black;' %></h5>
      <h6 class="card-subtitle mb-2 text-muted"><%= blog_post.created_at.strftime("%m/%d/%Y") %></h6>
      <% if current_user && current_user.email == 'matthias@matthiasclee.com' %>
        <%= link_to 'Edit', edit_blog_post_path(blog_post), class:"card-link" %>
        <%= link_to 'Destroy', blog_post, method: :delete, data: { confirm: 'Are you sure?' }, class:"card-link" %>
      <% end %>
    </div>
  </div>
<% end %>

<br>

<%= link_to 'New Blog Post', new_blog_post_path %>
