<p id="notice"><%= notice %></p>

<h1>Talks</h1>

<% if current_user && current_user.email == 'matthias@matthiasclee.com' %>
  <%= link_to 'New Talk', new_talk_path %>
<% end %>

<% @talks.each do |talk| %>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title mb-0"><%= link_to talk.conference, talk, style: 'text-decoration:none;color:black;' %></h5>
      <h6 class="card-subtitle mb-2 mt-0"><%= link_to talk.name, talk, style: 'text-decoration:none;color:black;' %></h6>
      <h6 class="card-subtitle mb-2 text-muted"><%= talk.date.strftime("%m/%d/%Y") %></h6>
    </div>
  </div>
<% end %>
