<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @talk.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @talk.location %>
</p>

<p>
  <strong>Website:</strong>
  <%= @talk.website %>
</p>

<p>
  <strong>Download:</strong>
  <%= @talk.download %>
</p>

<p>
  <strong>Date:</strong>
  <%= @talk.date %>
</p>

<%= link_to 'Edit', edit_talk_path(@talk) %> |
<%= link_to 'Back', talks_path %>
